<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @performance.name %>
</p>

<p>
  <b>Performed at:</b>
  <%= @performance.performed_at %>
</p>

<p>
  <b>Performed latitude:</b>
  <%= @performance.performed_latitude %>
</p>

<p>
  <b>Performed longitude:</b>
  <%= @performance.performed_longitude %>
</p>


<%= link_to 'Edit', edit_performance_path(@performance) %> |
<%= link_to 'Back', performances_path %>
