<%= form_tag performers_path, :method => :get do %>
  <p>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search Near", :name => nil %>
</p>
<% end %>

<h1>Listing performers</h1>

<table>
  <tr>
    <th>Venmo</th>
    <th>Name</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Money ytd</th>
    <th>Street name</th>
    <th>Picture url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @performers.each do |performer| %>
    <tr>
      <td><%= performer.venmo_id %></td>
      <td><%= performer.name %></td>
      <td><%= performer.first_name %></td>
      <td><%= performer.last_name %></td>
      <td><%= performer.money_ytd %></td>
      <td><%= performer.street_name %></td>
      <td><%= performer.picture_url %></td>
      <td><%= link_to 'Show', performer %></td>
      <td><%= link_to 'Edit', edit_performer_path(performer) %></td>
      <td><%= link_to 'Destroy', performer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New', new_performer_path %>

<%= link_to "Performer Hope", performer_home_path, id: "performer_home" %>
