<p>
<b>Venmo:</b>
<%= @performer.venmo_id %>
</p>

<p>
<b>Name:</b>
<%= @performer.name %>
</p>

<p>
<b>Money ytd:</b>
<%= @performer.money_ytd %>
</p>

<p>
<b>Street name:</b>
<%= @performer.street_name %>
</p>

<p>
<b>Picture url:</b>
<%= @performer.picture_url %>
</p>


<%= link_to 'Pay $1', "https://venmo.com/#{@performer.venmo_id}?txn=Pay&amount=1&note=for%20a%20great%20street%20performance" %> |
<%= link_to 'Edit', edit_performer_path(@performer) %> |
<%= link_to 'Back', performers_path %>
