<h1><%= current_performer.name %>'s Performances</h1>
<div id="chart_div"></div>
<div id="scatter_div"></div>
<div id="analytics-table"> 
<table class="analytics">
  <tr>
    <th><%= sortable "What" %></th>
    <th><%= sortable "start_time", "When" %></th>
    <th>More Info</th>
    <th>Edit</th>
  </tr>
  <% @performances.each do |performance| %>
    <tr>
    <td><%= performance.name %></td>
    <td><%= performance.start_time %></td>
    <td><a href = "<%= performer_performance_path(@performer, performance) %>"> <i class="icon-folder-open"></i></a></td>
    <td><a href = "<%= performer_performance_path(@performer, performance) %>"> <i class="icon-folder-open"></i></a></td>
    <td><a href = "<%= edit_performer_performance_path(@performer, performance) %>"> <i class="icon-edit"></i></a></td>
  </tr>
<% end %>
</table>

<br />

<a href = "<%= new_performer_performance_path %>"><i class="icon-plus"></i>New Performance</a>
<br/>
<a href = "<%= signout_path %>"><i class="icon-signout"></i>Sign Out</a>
</div>
