<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @performance.name %>
</p>

<p>
  <b>Started at:</b>
  <%= @performance.start_time %>
</p>

<p>
  <b>Performed latitude:</b>
  <%= @performance.latitude %>
</p>

<p>
  <b>Performed longitude:</b>
  <%= @performance.longitude %>
</p>
<% total = 0 %>
<% @performance.payments do |payment| %>
  <% total += payment.amount %>
<% end %>

<i class="icon-refresh"></i>
<div id="performer" data-id="<%= @performer.id %>"> </div>
<div id="performance" data-id="<%= @performance.id %>"> </div>
<p>
  <b>Tip Total:</b>
  <% if @performance.payments.empty? %>
    <% time = 0 %>
  <% else %>
    <% time = @performance.payments.first.created_at.to_i - 1 %>
  <% end %>
  <%= "<span id='tip_total' data-time='#{time}'>#{total}</span>".html_safe %>
</p>

<%= link_to 'Back', performer_performances_path %>
